
body {
    height: 100vh;
    width: 100%;
    margin:0;
     background:linear-gradient(90deg, rgba(254,255,254,1) 0%, rgba(21,21,22,1) 100%);                     /*linear-gradient(-45deg, #ee7752, #ee7752, #e73c7e, #23a6d5, #23d5ab); */
    animation: gradientBG 15s ease infinite;
    background-size: 600% 600%;
}

@keyframes gradientBG {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    0% {
        background-position: 0% 50%;
    }

    
}




.token {

    width: 300px;
    box-shadow: 0 8px 16px rgba(5, 5, 5, 0.3);
    padding: 2px 16px;
    margin: 16px;
    border-radius: 8px;
    opacity: 0.8;

   /*  border-radius:url();  */


}

img {

    border: .3px rgb(255, 250, 250);
    box-shadow: 10px 10px 8px rgba(#111111);
    border-radius: 4px;
    padding: 5px;
    width: 150px;
    margin-top:10px;

}

.container-filled{

    position:absolute;
    width: 100%;
    text-align:center;
    top:15%;
}
.clock-holder {
    background: transparent;
    max-width: 600px;
    width: 90%;
    height: 500px;
    margin: 30px auto;
}

.stopwatch span {
    background: #0fd34d;
    color: #fff;
    display: inline-block;
    font-family: monospace;
    font-size: 22px;
    padding: 20px;
    border-radius: 5px;
    width: 70px;
}

.stopwatch .stopwatch.btn {
    background: #fff;
    margin-top: 30px;
    margin-left: 5px;
    border: none;
    padding: 12px 20px;
    font-size: 16px;
    text-transform: uppercase;
    width: 150px;
    transition: backround 1s;
    cursor: pointer;
}

.stopwatch .stopwatch.btn-red {
    border: 2px solid #C85454;
    color: #C85454;
};

.stopwatch .stopwatch.btn-yel{
    border: 2px solid #FFC900;
    color: #FFC900;
}

.stopwatch .stopwatch.btn-gre {
border: 2px solid #00ABA9;
color: #00ABA9;
}

.stopwatch .stopwatch.btn-red:hover {
    background: #C85454;
    border: 2px solid #FFC900;
    color: #fff;
}

.stopwatch .stopwatch.btn-gre:hover {
    background: #00ABA9;
    border: 2px solid #00ABA9;
    color: #fff;
}